services:
  database:
    image: postgres
    ports:
      - 54326:5432
    restart: always

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    env_file:
      - .env

  adminer:
    image: adminer
    restart: always
    depends_on:
      - database
    ports:
      - 8080:8080